In [1]:
import pandas as pd
import nltk

In [3]:
nltk.download("gutenberg")

[nltk_data] Downloading package gutenberg to /Users/sanju/nltk_data...
[nltk_data]   Unzipping corpora/gutenberg.zip.

True

In [5]:
from nltk.corpus import gutenberg
import pandas as pd

In [7]:
data=gutenberg.raw("shakespeare-hamlet.txt")

In [1]:
with open("hamlet.txt","w") as f:
    f.write(data)

NameError: name 'data' is not defined

In [2]:
import pandas as pd

In [3]:
data = [['Afghanistan', 'Asia', 652230, 25500100, 20343000000], ['Albania', 'Europe', 28748, 2831741, 12960000000], ['Algeria', 'Africa', 2381741, 37100000, 188681000000], ['Andorra', 'Europe', 468, 78115, 3712000000], ['Angola', 'Africa', 1246700, 20609294, 100990000000]]
world = pd.DataFrame(data, columns=['name', 'continent', 'area', 'population', 'gdp']).astype({'name':'object', 'continent':'object', 'area':'Int64', 'population':'Int64', 'gdp':'Int64'})

In [5]:
data

[['Afghanistan', 'Asia', 652230, 25500100, 20343000000],
 ['Albania', 'Europe', 28748, 2831741, 12960000000],
 ['Algeria', 'Africa', 2381741, 37100000, 188681000000],
 ['Andorra', 'Europe', 468, 78115, 3712000000],
 ['Angola', 'Africa', 1246700, 20609294, 100990000000]]

In [23]:
world

          name continent     area  population           gdp
0  Afghanistan      Asia   652230    25500100   20343000000
1      Albania    Europe    28748     2831741   12960000000
2      Algeria    Africa  2381741    37100000  188681000000
3      Andorra    Europe      468       78115    3712000000
4       Angola    Africa  1246700    20609294  100990000000

In [34]:
world[(world["area"]>300000) | (world["population"]>250000000)].drop(["continent","gdp"],axis=1)

          name     area  population
0  Afghanistan   652230    25500100
2      Algeria  2381741    37100000
4       Angola  1246700    20609294